version: "3.9"
services:
  web:
    build: http
    platform: linux/amd64 
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_HOSTNAME=database
    ports:
      - "80:80"
    depends_on:
      - "db"
  db:
    build: database
    hostname: database
    environment:
      - POSTGRES_PASSWORD=password
    ports: 
      - "5432:5432"
networks:
  default:
    driver: bridge
